* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}

/* HEADER  */
.header{
    height: 100px;
    width: 98vw;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
.logo, .logo > img {
    height: 100%;
    min-width: 250px;
}
nav > ul {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
nav > ul > li {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

/* BANNER */
.carousel {
    height: 75vh;
}
.carousel-item > img {
    height: 75vh;
}

/* INTRO */

/* ARTICLES */

/* FOOTER */
