* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}

/* header styling  */
.header{
    height: 100px;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.logo, .logo > img {
    height: 100%;
    min-width: 250px;
}
nav > ul {
    height: 100%;
    width: 50vw;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav > ul > li {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
}


/* carousel styling */
.carousel ,
.carousel-item > img {
    height: 60vh;
}

/* footer styling */
footer {
    background-color: rgb(191, 191, 191);
    padding: 10px;
    position: fixed;
    width: 100%;
    height: fit-content;
}
footer p{
    font-size: 10px;
    text-align: center;
}
footer a {
    color:#1F51FF;
    background-color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(31, 81, 255, 0.3); 
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
    transition: all .4s ease-in-out;
}
footer a:hover {
    color: #39FF14; 
}
footer a .icon-container {
    display: flex;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    overflow: hidden; 
    margin-right: 10px;
}
footer a img {
    width: 100%; 
    height: auto; 
}
footer a img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.footer__socialmedia{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.footer__copyright{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}